@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%; /* Black Zinc */
    --foreground: 0 0% 98%;
    
    /* GANTI INI DENGAN EMAS NJR */
    --primary: 38 48% 62%; /* #c5a059 */
    --primary-foreground: 240 5.9% 10%;
    
    /* AKSEN BIRU DEEP (BRAZIL/PSG) */
    --accent: 217 91% 60%; /* #3b82f6 */
    
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 38 48% 62%;
  }
}

@layer utilities {
  .font-black-archivo {
    font-family: 'Archivo Black', sans-serif;
  }
}

/* Tipografi bold, italic, ekspresif */
h1, h2, h3 {
  @apply font-black italic uppercase tracking-tighter;
}